<div class="modal fade" id="confirmDelete" tabindex="-1" data-backdrop="static" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4>Cancella prodotto</h4>
                <p>Sei sicuro di voler cancellare </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btnNo" data-dismiss="modal">
                    {{ 'Annulla' }}
                </button>
                <button type="button" class="btn btn-danger" id="btnYes" data-dismiss="modal">
                    {{ 'Confermo' }}
                </button>
            </div>
        </div>
    </div>
</div>
