<form action="{{ path('_list') }}" method="get">
    <div class="input-group">
        <div class="has-feedback">
            <div class="input-group input-group-sm">
                <input type="text" name="search" class="form-control input-sm" placeholder="Cerca prodotto" {% if app.request.query.get('search') is defined %} value="{{ app.request.query.get('search') }}" {% endif %}>
                  <span class="input-group-btn">
                      <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
    </div>
</form>